.category{
    width: 33%;
    display: inline-block;
    height: 200px;
    text-align: center;
    border: 10px solid white;
}
.category-link {
    color: #007bff;
    font-size: 40px;
    text-decoration: none;
    background-color: transparent;
    font-weight: 900;
}